@use "../utils/variables";

.fa-heart {
  cursor: pointer;
  font-size: 22px;
  color: variables.$color-grey;
  border: transparent;
  -webkit-text-stroke: 1px black;
  position: absolute;
}
.full {
  cursor: pointer;
  margin: 0 40px 0 0;
  font-size: 22px;
  color: variables.$color-grey;
  border: transparent;
  -webkit-text-stroke: 1px black;
  position: absolute;
  opacity: 0;
  &:hover {
    opacity: 1;
    transition: 3s ease;
    background: linear-gradient(
      to bottom,
      variables.$color-secondary,
      variables.$color-primary
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
//Pour me permettre que mon icone coeur soit rempli à l'intérieur

.btn {
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    variables.$color-secondary,
    variables.$color-primary
  );
  box-shadow: 0 4px 7px #8f8e8e;
  border: transparent;
  color: variables.$color-white;
  &:hover {
    //opacity: 0.7;
    background: linear-gradient(
      to bottom,
      lighten(variables.$color-secondary, 5%),
      lighten(variables.$color-primary, 5%)
    );
    box-shadow: 0 4px 7px darken(#8f8e8e, 30%);
  }
}
