@use "../utils/variables";

.loader {
  text-align: center;
  //padding-top: 300px;
  z-index: 100;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: 100%;
  background-color: variables.$color-tertiary;
  //display: flex;
  //height: 10vmin;
  //left: 50%;
  position: fixed;
  /*top: 0;
  left: 0;
  margin: 0;*/
  //margin: -5vmin 0 0 -5vmin;
  ///position: fixed;
  ///top: 50%;
  // width: 10vmin;
  animation: hidden-home 2s forwards;
  span {
    color: variables.$color-black;
    font-size: xx-large;
  }
  &:before {
    animation: blueRoute 4s linear infinite;
    background-color: variables.$color-primary;
    content: "";
    height: 5vmin;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 5vmin;
  }
  &:after {
    animation: pinkRoute 4s linear infinite;
    background-color: variables.$color-secondary;
    content: "";
    height: 5vmin;
    left: 5vmin;
    opacity: 0.5;
    position: absolute;
    top: 5vmin;
    width: 5vmin;
  }
}

@keyframes hidden-home {
  0% {
    z-index: 100;
  }
  99% {
    z-index: 100;
  }
  100% {
    z-index: -10;
    visibility: hidden;
  }
}

@keyframes blueRoute {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(5vmin, 0) rotate(90deg);
  }
  50% {
    transform: translate(5vmin, 5vmin) rotate(180deg);
  }
  75% {
    transform: translate(0, 5vmin) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes pinkRoute {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5vmin, 0);
  }
  50% {
    transform: translate(-5vmin, -5vmin);
  }
  75% {
    transform: translate(0, -5vmin);
  }
  100% {
    transform: translate(0, 0);
  }
}

.home {
  .header {
    text-align: center;
    background-color: #e6e6e6;
    border-top: solid 3px #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      justify-content: center;
    }
    i {
      margin-right: 10px;
    }
  }
  .home_presentation {
    background-color: variables.$color-grey;
    h2 {
      margin: 30px 50px 0 50px;
      text-align: center;
    }
    p {
      margin: 20px;
    }
    button {
      margin-bottom: 40px;
      padding: 10px;
      color: variables.$color-white;
      border: transparent;
      border-radius: 20px;
      background: linear-gradient(
        to bottom right,
        variables.$color-secondary,
        variables.$color-primary
      );
    }
  }

  .home_operation {
    //display: flex;
    flex-direction: column;
    //align-items: center;
    margin-left: 30px;
    h2 {
      margin-top: 50px;
    }
    &_step {
      display: flex;
      flex-direction: column;
      &--modified {
        background-color: lighten(variables.$color-primary, 35%);
        margin-bottom: 60px;
      }
      &--normal {
        background-color: variables.$color-grey;
      }
      p {
        font-weight: bold;
        box-shadow: 1px 1px 12px #d8d5d5;
        width: 80%;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        padding: 20px;
        span {
          padding: 3px;
          background-color: variables.$color-primary;
          color: variables.$color-white;
          border-radius: 50%;
          width: 20px;
          position: relative;
          right: 32px;
        }
        i {
          font-size: 20px;
          color: grey;
          margin-right: 20px;
        }
      }
    }
  }
  .restaurant {
    background-color: variables.$color-grey;
    flex-direction: column;
    width: 100%;
    h2 {
      margin: 50px 0 0 22px;
    }
    ul {
      width: auto;
      padding: 20px;
      margin: 0;
      justify-content: center;
      li {
        margin-bottom: 20px;
        width: auto;
        p {
          color: darken(variables.$color-tertiary, 35%);
          background-color: variables.$color-tertiary;
          padding-top: 8px;
          padding-bottom: 10px;
          justify-content: center;
          font-weight: bold;
          position: absolute;
          left: 65%;
          width: 90px;
        }
        .one {
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;
          background-color: variables.$color-white;
          border-radius: 20px;
          box-shadow: 1px 1px 12px #d8d5d5;
          img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            height: 210px;
            object-fit: cover;
          }
          .two {
            display: flex;
            justify-content: space-between;
            h3 {
              margin: 10px 0 5px 10px;
            }
            span {
              margin: 0 0 0 10px;
            }
            .four {
              padding: 5%;
              i {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}
