@use "../utils/variables";
@use "../utils/mixin";
@use "../utils/keyframes";

.loader {
  width: 100%;
  height: 100vh;
  background-color: variables.$color-tertiary;
  position: fixed;
  animation: hidden-home 4s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: variables.$color-black;
    font-size: 25px;
    font-family: "Shrikhand", cursive;
    opacity: 0.5;
  }
  &:before {
    animation: violetCube 4s linear infinite;
    background-color: variables.$color-primary;
    content: "";
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    z-index: -1;
  }
  &:after {
    animation: pinkCube 4s linear infinite;
    background-color: variables.$color-secondary;
    content: "";
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    z-index: -1;
  }
}

.restaurants {
  .top-content {
    text-align: center;
    background-color: darken(variables.$color-grey, 5%);
    border-top: solid 3px darken(variables.$color-grey, 20%);
    display: flex;
    flex-direction: column;
    p {
      justify-content: center;
    }
    i {
      margin-right: 10px;
    }
  }
  &__presentation {
    background-color: variables.$color-grey;
    h2 {
      margin: 30px 50px 0 50px;
    }
    p {
      margin: 20px;
    }
    button {
      margin-bottom: 40px;
      padding: 10px;
    }
  }

  &__operation {
    flex-direction: column;
    margin: 0 30px 0 30px;
    @include mixin.media-queries {
    }
    h2 {
      margin-top: 50px;
      @include mixin.media-queries {
        text-align: center;
      }
    }
    &__list {
      padding: 0;
      @include mixin.media-queries {
        align-items: center;
        margin: 0 30rem;
      }
      &__item {
        background-color: variables.$color-grey;
        font-weight: bold;
        box-shadow: 1px 1px 12px darken(variables.$color-grey, 20%);
        border-radius: 10px;
        padding: 20px 0px;
        margin-top: 27px;
        &--modified {
          background-color: lighten(variables.$color-primary, 35%);
          margin-bottom: 60px;
        }
        span {
          padding: 3px 9px;
          background-color: variables.$color-primary;
          color: variables.$color-white;
          border-radius: 50%;
          position: relative;
          right: 12px;
        }
        i {
          font-size: 20px;
          color: darken(variables.$color-grey, 30%);
          margin-right: 20px;
          margin: 0 20px 0 12px;
        }
      }
    }
  }

  &__section {
    background-color: variables.$color-grey;
    flex-direction: column;
    h2 {
      margin: 50px 0 0 22px;
      @include mixin.media-queries {
        margin: 50px 0 50px 22px;
        text-align: center;
      }
    }
    &__card {
      padding: 20px;
      margin: 0;
      @include mixin.media-queries {
        margin-left: 145px;
        flex-wrap: wrap;
        display: grid;
        grid-row-gap: 30px;
        grid-column-gap: 135px;
        grid-template-areas:
          "one two"
          "three four";
      }
      &__list {
        margin-bottom: 20px;
        @include mixin.media-queries {
          width: 450px;
        }
        p {
          color: darken(variables.$color-tertiary, 35%);
          background-color: variables.$color-tertiary;
          font-weight: bold;
          position: absolute;
          right: 40px;
          padding: 10px;
          @include mixin.media-queries {
            position: relative;
            top: 80px;
            left: 275px;
            width: 120px;
          }
        }
        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 100%;
          height: 210px;
          object-fit: cover;
        }
        &__item {
          flex-direction: column;
          padding-bottom: 10px;
          background-color: variables.$color-white;
          border-radius: 20px;
          box-shadow: 1px 1px 12px darken(variables.$color-grey, 20%);
          &--1 {
            grid-area: one;
          }
          &--2 {
            grid-area: two;
          }
          &--3 {
            grid-area: three;
          }
          &--4 {
            grid-area: four;
          }
          &__bottom {
            display: flex;
            justify-content: space-between;
            h3 {
              margin: 10px 0 5px 10px;
            }
            span {
              margin: 0 0 0 10px;
            }
            .btn-heart {
              font-size: 25px;
              margin: 20px 40px 0 0;
              position: absolute;
              right: 35px;
              border: variables.$color-transparent;
              @include mixin.media-queries {
                position: relative;
              }
              .fa-heart {
                color: variables.$color-transparent;
              }
              .full {
                color: variables.$color-transparent;
              }
            }
          }
        }
      }
    }
  }
}
