$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #f0f0f0;
$color-black: black;
$color-white: white;
$color-transparent: transparent;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
